
.cartItem{
    color: #0088cc;
    cursor: pointer;
}

.cartItem:hover{
    color: #f96816;
    font-weight: bold;
}

.cartWell, 
.pickup-delivery, 
.pickupNow, 
.deliveryNow, 
#show-pizza {
    display: none;
}